<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<img src="https://media.tproger.ru/uploads/2021/10/4697683_check_checklist_list_pencil_plan_icon-cover-icon-original.png" width="80" height="90"alt="cartinca"><h1>Задачи</h1>
<a href="add/" style="text-transform:uppercase">Создание задачи</a>
{% for task in tasks %}
    <h3 style="color:#FF0000", >{{ task.task }}</h3> <p style="color:#FF0000"><i> {{ task.status }} --- {{ task.get_status_display }} </i>

</p>
{% endfor %}
</body>
</html>